html{
    height: 100%;
    background: #323A45 url("motto.jpg") no-repeat fixed center center;
}

.navBar{
    background-color: #002c54;
    text-align: right;
    padding-top: 1%;
    padding-bottom: 1%;
    position: fixed;
    width: 100%;
}

.navBar a{
    color: #efb509;
    font-size: 200%;
    padding: 15px;
    text-decoration: none;
}

.navBar a:hover{
    background-color: #003366;
    color: #FFD700;
    text-decoration: none;
}

.navBar a:visited{
    background-color: #003366;
    color: #efb509;
    text-decoration: none;
}