html{
    background-color: #efefef;
}

body{
    background-color: #efefef;
    display: flex;
    flex-direction: column;
}

header nav{
    display: flex;
    justify-content: flex-end;
    background-color: #0B3C5D;
    border-bottom: solid;
    border-color: #F9CF00;
    box-shadow: 0 4px 4px rgba(0,0,0,.4);
    padding-top: 1%;
    padding-bottom: 1%;
    line-height: 1;
    position: fixed;
    width: 100%;
    z-index: 150;
}

header nav a{
    margin-right: 1%;
    margin-left: 1%;
    text-decoration: none;
    font-family: "Baloo Chettan", sans-serif;
    font-size: 150%;
    color: #D9B310;
}

header nav a:hover{
    border-top: solid;
    text-decoration: none;
    color: #F9CF00;
}

header nav a:visited{
    text-decoration: none;
    color: #F9CF00;
}

main{
    background: url("img/scenery.jpg") no-repeat fixed center center;
}
#frontCover{
    background: rgba(11,60,93, 0.6);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100vh;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    min-width: 775px;
}

#frontCover .coverText{
    margin-top: 15%;
    font-family: "Palanquin Dark", sans-serif;
    font-size: 600%;
    text-align: center;
    color: #F9CF00;
}

#frontCover #coverCaption{
    font-size: 250%;
}

main footer{
    font-size: 800%;
}
#coverArrow .arrowIMG{
    animation-duration: 2.5s;
    color: #F9CF00;
}


.section{
    width: 100%;
    height: 100vh;
}

.bar{
    background-color: #0B3C5D;
    text-align: center;
    font-size: 150%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom: solid;
    border-color: #F9CF00;
    box-shadow: 0 4px 4px rgba(0,0,0,.4);
}
#AboutMe{
    background-color: #efefef;
    font-family: "Baloo Chettan", sans-serif;
}

#AboutMe a{
    color: #F9CF00;
    text-decoration: none;
}