html{
    background-color: #efefef;
}

body{
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    margin: 0;
}
#head{
    z-index: 100;
}
#logo{
    position: fixed;
    margin-left: 10%;
    margin-top: 0.3%;
    padding: .5% 0.35% .5% 0.35%;
    color: #efefef;
    font-family: "Baloo Chettan", sans-serif;
    font-size: 150%;
    z-index: 100;
    border-style: solid;
    border-radius: 100px;
    min-width: 35px;
    min-height: 30px;
}

#logo p{
    margin: 0;
}
#head #navBar{
    display: flex;
    justify-content: flex-end;
    background-color: #FF3B3F;
    border: 5px #efefef;
    border-bottom-style: solid;
    box-shadow: 0 4px 4px rgba(0,0,0,.4);
    position: fixed;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    transition-property: background-color, color, border-color;
    transition-duration: 0.5s;
}

#head #navBar a {
    margin-right: 1%;
    margin-left: 1%;
    text-decoration: none;
    font-family: "Baloo Chettan", sans-serif;
    font-size: 150%;
    color: #efefef;
    height: 100%;
}

#head #navBar #3{
    margin-right: 10%;
}
#head #navBar a:visited{
    text-decoration: none;
    color: #efefef;
}

#head #navBar a:active{
    text-decoration: none;
}

main{
    background: url("img/scenery.jpg") no-repeat fixed center center;
    height: 100vh;
}



#frontCover{
    background: rgba(255,59,63, 0.6);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100vh;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 0;
}

#frontCover .coverText{
    margin-top: 25%;
    font-family: "Palanquin Dark", sans-serif;
    font-size: 600%;
    text-align: center;
    color: #efefef;
}


main footer{
    font-size: 800%;
}
#coverArrow .arrowIMG{
    animation-duration: 2.5s;
    color: #efefef;
}


.section{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bar{
    background-color: #efefef;
    text-align: center;
    font-size: 150%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom: solid;
    border-color: #FF3B3F;
    box-shadow: 0 4px 4px rgba(0,0,0,.4);
    position: relative;
    width: 100%;
    z-index: 10;
}
#AboutMe{
    background-color: #FF3B3F;
    font-family: "Baloo Chettan", sans-serif;
    position: relative;

}

#AboutMe a{
    color: #FF3B3F;
    text-decoration: none;
}


#AboutMeBody{
    background-color: #efefef;
    height: 92.45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.8), -12px 0 8px -4px rgba(0, 0, 0, 0.8);

}

#AboutMeBody #me{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1 0;
    padding-left: 25%;
    padding-right: 25%;
    box-shadow: 0 4px 2px -2px gray;
    overflow: auto;
}

#AboutMeBody img{
    border-radius: 150px;
}


#AboutMeBody #AboutMeText{
    margin-bottom: 5%;
    margin-top: 5%;
    overflow: auto;
    max-height: 360px;
}
#AboutMeBody p{
    font-size: 200%;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}

body main .panel{
    position: absolute;
    margin: 0;
}